

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
  display: none;
  color: purple
}

.mirador-canvas-nav {
  display: none !important;
}

.supraAdd {
  vertical-align: super;
}
 
.underlined {
  text-decoration: underline;
}

.crossedOut {
  text-decoration: line-through;
}

.circled {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid;
  border-color: black;
}

del {
  text-decoration: line-through;
  display: inline; 
}

.metamarkInsert {
  vertical-align: bottom;
}

.listItem {
  text-indent: 40px;
}